<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276596200927-tb6saijutpfu1jtteoggaj3r7r006og5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276596200927-tb6saijutpfu1jtteoggaj3r7r006og5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>276596200927-megikad2hla3qb222c7jpik6bp0uik8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqi5jf4Px9B6dv4EAu3TRn-DamFaV4QEs</string>
	<key>GCM_SENDER_ID</key>
	<string>276596200927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myqrscanner</string>
	<key>PROJECT_ID</key>
	<string>myqrscannerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myqrscannerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276596200927:ios:0247ddecaf4b517d57206a</string>
	<key>DATABASE_URL</key>
	<string>https://myqrscannerapp.firebaseio.com</string>
</dict>
</plist>